@import "./scssdefaults/basics";
@import "./scssdefaults/variables";
@import "./componenten/Navigatie/navigatie.scss";

//HEADER
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-primary-white;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; // detail width
  z-index: 99;

  //logo
  &__logo {
    width: 20rem;
    padding-bottom: 2rem;
    padding-left: 10rem;

    .logo__img {
      height: 6.8rem;
      padding-left: 2rem;
    }

    .logotexts {
      display: inline-block;
      position: absolute;

      .logotext {
        display: block;
        color: red;
        font-size: $font-size-logo;
        font-weight: bolder;
        padding-left: 3rem;
      }
    }
  }
}

//MAIN
.main {
  background-color: $color-primary-white;
}

.container__main {
  min-width: 82rem;
  max-width: 140rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  background-color: $color-primary-white;
  padding: 1rem 4rem;

  .article {
    background-color: $color-neutral-grey-1;
  }
  &__text {
    text-align: center;
  }

  &__img {
    padding: $padding-default;
    width: 30rem;
  }
}
// snap niet waarom deze bij article 2 niet de juiste opmaak krijgt.
.article__header {
  padding: $padding-default;
  text-align: center;
  font-size: $font-size-header;
}
.article__footer {
  position: relative;
  &__img {
    width: 5rem;
    margin-left: 2rem;
  }
  &__kopen {
    text-align: center;
    padding: 1.5rem;
    width: 20rem;
    height: 5rem;
    background-color: $color-dark-blue;
    position: absolute;
    margin-left: 2rem;
    color: $color-primary-white;
    &__plus {
      font-weight: bolder;
      font-size: 4rem;
      padding-right: 1rem;
      position: absolute;
      top: 0rem;
      left: 1.5rem;
    }
  }
}

//VERVANG ARTICLEMAINPAGE > alle classnamen veranderen

.article-detail {
  background-color: $color-neutral-grey-1;

  &__text {
    text-align: center;
  }

  &__img {
    padding: $padding-default;
    width: 800px;
    height: 800px;
  }
}

.article-detail__header {
  padding: $padding-default;
  text-align: center;
  font-size: $font-size-header;
}
.article-detail__footer {
  position: relative;
  &__img {
    width: 5rem;
    margin-left: 2rem;
  }
  &__kopen {
    text-align: center;
    padding: 1.5rem;
    width: 20rem;
    height: 5rem;
    background-color: $color-dark-blue;
    position: absolute;
    margin-left: 2rem;
    color: $color-primary-white;
    &__plus {
      font-weight: bolder;
      font-size: 4rem;
      padding-right: 1rem;
      position: absolute;
      top: 0rem;
      left: 1.5rem;
    }
  }
}
